<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MikroAnaliz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections> 
    <connectionStrings>
        <add name="MikroAnaliz.Properties.Settings.SicilBaglantiSatiri"
            connectionString="Data Source=&quot;TAHAYAZILIM&quot;;Initial Catalog=TAHALaboratuvar;Persist Security Info=True;User ID=sa;Password=TAHAYAZILIM"
            providerName="System.Data.SqlClient" />
        <add name="MikroAnaliz.Properties.Settings.SicilBaglantiWindows"
            connectionString="Data Source=&quot;TAHAYAZILIM&quot;;Initial Catalog=TAHALaboratuvar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  
  
  <userSettings>
       
  <MikroAnaliz.Properties.Settings>
    <setting name="KullaniciAdi" serializeAs="String">
      <value />
    </setting>
    <setting name="Sifre" serializeAs="String">
      <value />
    </setting>
    <setting name="BeniHatirla" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="KurumNo" serializeAs="String">
      <value />
    </setting>
    <setting name="SunucuIp" serializeAs="String">
      <value />
    </setting>
    <setting name="DatabaseName" serializeAs="String">
      <value />
    </setting>
    <setting name="DatabaseSa" serializeAs="String">
      <value />
    </setting>
    <setting name="DatabasePass" serializeAs="String">
      <value />
    </setting>
    <setting name="Dk" serializeAs="String">
      <value>True</value>
    </setting>
  </MikroAnaliz.Properties.Settings>
    </userSettings>
</configuration>
